---
status: In progress
version: 0.5.1
---
<div class="form-item--toggle {{classes}}">
  <input class="toggle__check" id="{{id}}" type="checkbox" {{attributes}}>
  <label class="aria--visible" for="{{id}}">{{label}}</label>
  <div class="form-item--toggle__switch"><span class="icon-drag"></span></div>
  <div class="form-item--toggle__track"></div>
</div>
